.details img{
  height: 1.5em;
}

.details > li{
  list-style: none;
  margin: 10px 10px 10px;
}

.details{
  width: 15vw;
  border-left: 1px solid gray ;
  height: calc(100vh - 40px);
  margin-left: 10px;
  border-radius: 4px;
  
}

.details-title,.details-subtitle{
  text-align: center
}
.details-title{
  font-weight:700;
  margin-top:10px;

}

.details-subtitle{
  font: 15px;
  color: gray;
}


.details-admin{
  font-size: 8px;
  font-style: italic;
  color: gray;
}

.details-approval-approve,.details-approval-deny{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  margin: 0 5px 0;
}

.details-approval-approve:hover{
  color:#0a520a;
}

.details-approval-deny:hover{
  color:#752217;
}