.messageform-form-container{
  // position: relative;
  width: 100%;
 
 
}

.messageform-form{
  position: relative;  
}

.messageform-form textarea{
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  outline: none;
  resize: none;
  height:110px;
  top: 0px;
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  line-height:22px;
  white-space: pre-wrap;
}


.messageform-form div{
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  outline: none;
  resize: none;
  top: 110px;
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  color: rgb(97, 96, 97);  
  text-align: end;
}

// .messageform-form textarea::placeholder{
//   font-size:15px;
  
// }

.messageform-form button{
  position: absolute;
  top: 80px;
  right: 0;
  width: 30px;
  height: 30px;
}

