.message{
  overflow-y: scroll;
  height: 54vw;
  overflow-x: hidden;
  height: calc(96vh - 202px);
}
//////scroll but does not show the bar
.message::-webkit-scrollbar {
  display: none;
}

.message div{
  margin: 20px;
}

