.messageform-form-container{
  // position: relative;
  width: 100%;
 
 
 
}

.messageform-form{
  position: relative;  
}


.messageform-form-gray{
  position: absolute;
  width: 98%;
  height: 30px;
  border-radius: 4px;
  top:76px;
  background-color:#f2f2f2;
  z-index: 5;
  margin: 0 5px 0;
  box-sizing: border-box;
  text-align: right;
  margin: 5px 5px 0px;
  border-left:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
}
.messageform-submit{
  display: absolute;
  box-sizing: border-box;
  top: 84px;
  right: 5%;
  width: 28px;
  height: 28px;
  border:none;
  outline: none;
  background-color:#007a5a;
  z-index: 6;
  text-align: end;
  align-self: end;
  border-radius: 4px;
}
// .messageform-submit i{
//   align-self: center;
// }

.messageform-form textarea{
  width: 98%;
  overflow: auto;
  box-sizing: border-box;
  outline: none;
  resize: none;
  min-height:80px;
  top: 0px;
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  line-height:22px;
  white-space: pre-wrap;
  margin: 5px 5px 0px;
  max-height: 340px;
  scrollbar-width: thin;

  border-bottom: 2px solid #f2f2f2;
}

.messageform-form textarea::-webkit-scrollbar {
  width: 9px;
}
.messageform-form textarea::-webkit-scrollbar-track{
  border-radius: 3px;
}
.messageform-form textarea::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;  
}


.messageform-prompt{
  width: 100%;
  
  box-sizing: border-box;
  outline: none;
  resize: none;
  top: 111px;
  right: 20px;
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  color: rgb(97, 96, 97);  
  text-align: end;
}

// .messageform-form textarea::placeholder{
//   font-size:15px;
  
// }


.messageform-submit:disabled{
  background-color:#cdd4d2;
}





.messageform-joinchannel{
  position: absolute;
  background-color:rgb(248, 248, 248);
  padding: 20px;
  z-index: 10;
  text-align: center;
  height: 120px;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  
}
.messageform-joinchannel button{
  outline: none;
  background-color:#0a520a;
  border:none;
  border-radius:  4px;
  color:white;
  font-weight:600;
  margin: 10px 0 0px;
  height: 36px;
  cursor: pointer;

}

.messageform-permission-noshow {
  display: none;
}
.messageform-permission{
  size: 10px;
  opacity: 0.7;
  // margin-top: -10px;
}