// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-login-signup {
  text-align: center;
 
}

.user-login-signup-links {
  padding-top: 250px;
  font-weight: 600;
}

.top-user{
  display: flex;
  flex-direction: row;
  
}

.top-user-logout{
  display: absolute;
}

