

.main-workspace{
  width: 100%;
}

.workspace-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:red;
}

.workspace-body{
  height: 100%;
  background-color:#f5b7b3;
}