.main-board{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}


.main-top-nav{
  z-index: 5;
}

.main-not-top-nav{
  display: flex;
  /* overflow: hidden; */
  flex-direction: row;
  height: 100%;
  position: relative;
}

.main-side-nav{
  display: block;
  font-size: 15px;
  line-height:22px;
  color: rgb(188, 171, 188);
  width: 200px;
  background-color:rgb(82, 38, 83);
  padding-left: 16px;
  padding-right: 54px;
  position: relative;
  height: 100%;
}

.splash-session-container, .splash-temp{
  text-align: center;
}

.main-workspace{
  height: 100%;
}

.main-side-nav{
  overflow-y: scroll;
}
.main-side-nav::-webkit-scrollbar {
  display: none;
}